body
{

}
.logo{
    font-size:40px;
    color:#ffffff;
    font-weight:700;
    margin-left:20px;

}
.header{
    background:black;
    height:70px;
    justify-content:center;
    align-items:center;
    
}
@media screen and (max-width:400px ) {
   .header {
        width:490px;
    }
}
.navlist {
    margin-left:160px;
    margin-top:-40px;
    
}
@media screen and (max-width:1000px ) {
    .navlist {
        display: none;
    }
}
.navlist li{
    list-style:none;
    display:inline-block;
   
}
.navlist li a{
    position: relative;
    color: white;
    text-decoration:none;
    margin-left:30px;
 
}
.navlist li a::after{
    content:"";
    position:absolute;
    background:white;
    width:100%;
    height:.2rem;
    left:0;
    bottom:-5px;
    transform:scaleX(0);
    transform-origin:bottom right;
    transition:transform .5s;
    

}
.navlist li a:hover::after {
    transform:scaleX(1);
    transform-origin:bottom left;

}
@media screen and (max-width:1000px ) {
    #home {
        height:800px;
    }
}
@media screen and (max-width:400px ) {
    #home {
        width:490px;
    }
}
home-container {
    display: flex;
    position: inherit;
    width: 100%;
    min-height:100%;
}
.left-container, .right-container {
    height:500px;
}

.left-container {
    background: black;
    width: 70%;
    color: white;
    padding: 130px 0 50px 120px;
    
}
@media screen and (max-width:1000px ) {
    .left-container {
        padding: 100px 0 50px 80px;
    }
}
.text{
    width:400px;
}

.buy-btn {
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 40px;
    margin-top: 10px;
    margin-left: -10px;
}
.buy-btn:hover {
    background-color:black;
}
.buy-btn a {
    display: flex;
    width: 250px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: var(--hover-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.6s;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin-left: 10px;
    border: 4px solid white;
    box-shadow: 0 0 1rem #fff, inset 0 0 1rem #fff, 0 0 2rem #3877ff, inset 0 0 2rem #3877ff, 0 0 4rem #3877ff, inset 0 0 4rem #3877ff;
}

.buy-btn a:hover {
    color: black;

}

.buy-btn a::before {
    content: "";
    display: flex;
    width: 0;
    height: 100%;
    transition: 0.4s;
    position: absolute;
    z-index: 1;
    color: black;
}
.buy-btn:hover, .buy-btn:focus, .buy-btn:active, .buy-btn:visited{
    transition-timing-function:cubic-bezier(0,6,4,0,3,0,8);
    animation:animate 0.5s 1;
}
@keyframes animate{
    0%, 100%{
        transform:scale(1.1);
    }
    25% {
        transform: scale(0.9, 1.1);
    }
    50% {
        transform: scale(1.1, 0.9);
    }
    75% {
        transform: scale(0.95, 1.05);
    }
}

/*--sidepanel--*/



.sidepanel  
{
  width:0px;
  position:fixed;
  z-index: 1;
  top: 140px;
  left: 20px;
  background: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
    border-radius: 10px;
}
.sidepanel ul
{
	margin-left: -20px;
}
.sidepanel a {
  padding: 8px ;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
  transition: 0.3s;
	margin-left: 10px;
	margin-top: -10px;
}

.sidepanel a:hover {
  color: #40d3dc;
}

.sidepanel .closebtn 
{
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px;
    margin-top: -10px;
}


.openbtn 
{
  font-size: 20px;
  cursor: pointer;
  color: black;
  padding:10px;
  border: none;
  position:fixed;
  color:white;
 
 }

.openbtn:hover 
{
  background-color: #40d3dc;
}



























.right-container {
    background: linear-gradient(-45deg, blue, #000000 100%);
    width: 30%;
    margin-left: 70%;
    margin-top: -500px;
}

.design{
    margin-left:500px;
    margin-top:-60px;
}

.design .circle{
    aspect-ratio: 1;
    position:absolute;
    border-radius:50%;
    top:45%;
    left:70%;
    transform:translate(-50%, -50%);
}
@media screen and (max-width:1000px ) {
    .design .circle {
        margin-top:400px;
        left: 50%;
    }
}
@media screen and (max-width:400px ) {
    .design .circle {
        margin-top:400px;
        left: 30%;
    }
}
.circle:nth-child(1){
     background:linear-gradient(90deg, transparent 50%,  #d9f0f9, 70%);
     width:400px;
}
.circle:nth-child(2) {
    background-image:url(edward.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    border: .5rem solid white;
    width:350px;
    box-shadow:
        0 0 1rem #fff,
        inset 0 0 1rem #fff,
        0 0 2rem #3877ff,
        inset 0 0 2rem #3877ff,
        0 0 4rem #3877ff,
        inset 0 0 4rem #3877ff;

}
h1{
    text-align:center;
    text-orientation:sideways;

}
/*--about--*/
#about{
    margin-top:40px;
    height:600px;
}
@media screen and (max-width:1000px ) {
    #about {
        width: 480px;
        height:700px;
    }
}
#about .design .circle {
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 880px;
    left: 200px;
    transform: translate(-50%, -50%);
}
@media screen and (max-width:1000px ) {
    #about .design .circle {
        margin-left: 60px;
        margin-top:300px;
    }
}
#about .circle:nth-child(1) {
    background: linear-gradient(90deg, transparent 50%, #d9f0f9, 70%);
    width: 300px;
}

#about .circle:nth-child(2) {
    background-image: url(linkedin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: .5rem solid white;
    width: 250px;
    box-shadow: 0 0 1rem #fff, inset 0 0 1rem #fff, 0 0 2rem #3877ff, inset 0 0 2rem #3877ff, 0 0 4rem #3877ff, inset 0 0 4rem #3877ff;
}
    #about .right-container {
        width: 66%;
        margin-left: 200px;
        height: 300px;
        margin-top: 130px;
        box-shadow: 0 0 1rem #fff, inset 0 0 1rem #fff, 0 0 2rem #3877ff, inset 0 0 2rem #3877ff, 0 0 4rem #3877ff, inset 0 0 4rem #3877ff;
    }
@media screen and (max-width:1000px ) {
    #about .right-container {
        width: 460px;
        margin-left:10px;
        margin-top:350px;
    }
}
#about .right-container  p{
    color: black;
    padding: 80px 0 20px 50px;
    width:100%;
    background-color:white;
    height:300px;
}
@media screen and (max-width:1000px ) {
    #about .right-container p {
        padding: 80px 0 20px 30px;
    }
}
.about{
    margin-left:100px;
}
@media screen and (max-width:1000px ) {
    .about {
        width: 480px;
        margin-left: 10px;
    }
}

/*--services--*/

.services{
    margin-left:100px;
}
@media screen and (max-width:1000px ) {
    .services {
        margin-left:80px;
    }
}
.services-box {
    margin-top:50px;
    display: inline-block;
    width: 260px;
    padding: 10px;
    height: 300px;
    background: linear-gradient(90deg, transparent 50%, #d9f0f9, 70%);
    box-shadow: 0 0 1rem #fff, inset 0 0 1rem #fff, 0 0 2rem #3877ff, inset 0 0 2rem #3877ff, 0 0 4rem #3877ff, inset 0 0 4rem #3877ff;
}
@media screen and (max-width:1000px ) {
    .services-box {
        width: 330px;
    }
}
.services-box h6{
    font-weight:bolder;
    text-align:center;
    padding: 50px 20px 10px;
}
.services-box p{
    padding: 20px 30px 10px;
}
.services-website {
    background-image:url(joshua.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
}
.services-graphic {
    background-image: url(linkedin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
}
.services-company {
    background-image: url(marvin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
}
/*--skills--*/
#testimonials{
    margin-top:100px;
}
.testimonials {
    margin-left: 100px;
}
@media screen and (max-width:1000px ) {
    .testimonials{
        margin-left:10px;
    }
}
.testimonials .info{
    color:white;
    margin-top:-240px;
    width:400px;
    margin-left:250px;
    font-size:18px;
}
@media screen and (max-width:1000px ) {
    .testimonials .info {
        margin-left:150px;
    }
}
.testimonials li{
    list-style:none;
}
.slider {
    margin-top: 50px;
    width: 800px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 1rem #fff, inset 0 0 1rem #fff, 0 0 2rem #3877ff, inset 0 0 2rem #3877ff, 0 0 4rem #3877ff, inset 0 0 4rem #3877ff;
}
@media screen and (max-width:1000px ) {
    .slider {
        width: 460px;
        height: 400px;
    }
}
.slides {
    width: 500%;
    height: 400px;
    display: flex;
}

    .slides input {
        display: none;
    }

.slide {
    width: 20%;
    transition: 2s;
}

    .slide img {
        width: 800px;
        height: 400px;
    }
@media screen and (max-width:1000px ) {
    .slide img{
        width: 480px;
        height: 400px;
    }
}

.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
@media screen and (max-width:1000px ) {
    .navigation-manual {
        width: 480px;
    }
}
.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;

}

    .manual-btn:not(:last-child) {
        margin-right: 40px;
    }

    .manual-btn:hover {
        background-color: white;
       
    }

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 360px;
}
@media screen and (max-width:1000px ) {
    .navigation-auto {
        width: 480px;
    }
}

    .navigation-auto div {
        border: 2px solid white;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
    }

        .navigation-auto div:not(:last-child) {
            margin-right: 40px;
        }

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: white;
}





/*--portfolio--*/
#portfolio{
    margin-top:100px;
}
.portfolio {
    margin-left: 100px;
}
@media screen and (max-width:1000px ) {
    .portfolio {
        width: 480px;
        margin-left:5px;
    }
}
.portfolio-box {
    margin-top: 50px;
    display: inline-block;
    width: 260px;
    padding: 10px;
    height: 200px;
    background: linear-gradient(90deg, transparent 50%, #d9f0f9, 70%);
    box-shadow: 0 0 1rem #fff, inset 0 0 1rem #fff, 0 0 2rem #3877ff, inset 0 0 2rem #3877ff, 0 0 4rem #3877ff, inset 0 0 4rem #3877ff;
}
@media screen and (max-width:1000px ) {
    .portfolio-box {
        width: 220px;
        height: 200px;
        margin-left:10px;
    }
}
.portfolio h6{
    text-align:center;
}
.portfolio img
{
    height:150px;
    width:150px;
    padding:10px;
    text-align:center;
    margin-left:40px;
}
@media screen and (max-width:1000px ) {
    .portfolio img {
        margin-left: 20px;
    }
}
/*---contacts-----*/
.contacts {
    margin-top: 100px;
    height:500px;
}

@media screen and (max-width:400px ) {
    .contacts {
        width: 480px;
    }
}

.col-lg {
    padding: 10px;
    text-align: center;
    margin-top: 60px;
    height: 250px;
}

@media screen and (max-width:1000px ) {
    .col-lg {
        width: 480px;
        height: 400px;
    }
}

@media screen and (max-width:400px ) {
    .col-lg {
        width: 480px;
        height: 400px;
    }
}

input {
    margin-left: 10px;
    height: 50px;
    width: 320px;
    display: inline-block;
    border: .2rem solid white;
    box-shadow: 0 0 1rem #fff, inset 0 0 1rem #fff, 0 0 2rem #3877ff, inset 0 0 2rem #3877ff, 0 0 4rem #3877ff, inset 0 0 4rem #3877ff;
}

ul {
    display: inline-block;
    margin-left: -60px;
}

.col-75 {
    margin-top: px;
    margin-left: 20px;
}

textarea {
    width: 646px;
    height: 150px;
    border: .2rem solid white;
    box-shadow: 0 0 1rem #fff, inset 0 0 1rem #fff, 0 0 2rem #3877ff, inset 0 0 2rem #3877ff, 0 0 4rem #3877ff, inset 0 0 4rem #3877ff;
}

@media screen and (max-width:1000px ) {
    textarea {
        width: 320px;
    }
}

button {
    margin-top: 10px;
    height: 50px;
    width: 66%;
    color:white;
    background: linear-gradient(-45deg, blue, #000000 100%);
    margin-left: 100px;
    padding: 10px;
    border-radius: 10px;
    border: .2rem solid white;
    box-shadow: 0 0 1rem #fff, inset 0 0 1rem #fff, 0 0 2rem #3877ff, inset 0 0 2rem #3877ff, 0 0 4rem #3877ff, inset 0 0 4rem #3877ff;
}
    button:hover, button:focus, button:active, button:visited {
        transition-timing-function: cubic-bezier(0,6,4,0,3,0,8);
        animation: animate 0.5s 1;
    }

@keyframes animate {
    0%, 100% {
        transform: scale(1.1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}
























#footer{
    height:200px;
}
@media screen and (max-width:400px ) {
    #footer {
        width:490px;
    }
}
#footer .left-container, #footer .right-container {
    height: 200px;
}
#footer .left-container {
    background: black;
    width: 70%;
    color: white;
    padding: 130px 0 50px 120px;
}
#footer .right-container {
    background: linear-gradient(-45deg, blue, #000000 100%);
    width: 30%;
    margin-left: 70%;
    margin-top: -200px;
}
#footer .left-container p{
    margin-left:100px;
    margin-top:-40px;
}
@media screen and (max-width:1000px ) {
    #footer .left-container p {
        margin-left: 10px;
    }
}
